

.chartCard {
    width: 100vw;
    height: calc(58vh - 40px);
   /* background: rgba(54, 162, 235, 0.2);
   */ display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .chartBox {
    width: 827px;
    padding: 54px;
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
  }
  .ctable{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 14%;
  }
  .x{
    background: #fff;
    margin-top: 10%;
    margin-right: 4%;
    margin-left: -10%;
  }

  .xd{
    padding-top: 9%;
  }